/* Базовые состояния */
.core {
  stroke-width: 0px;
  opacity: 1;
}

.main-body {
  stroke-width: 0px;
  opacity: 1;
}

.contour {
  stroke-width: 0px;
  opacity: 1;
}

.sparks {
  stroke-width: 0px;
  opacity: 1;
}

.like-icon .sparks {
  opacity: 0;
}

/* Анимация при наведении */
.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .contour {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

/* Анимация при активации (лайк) */
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.6s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.1s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s 1 alternate;
}

@keyframes sparks-opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}
