.page {
  max-width: var(--max-width);
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--color-white);
}

.button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(--color-border);
  background-color: var(--color-white);
  font-family: 'PressStart2P', sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--color-border);
  transition: left 500ms ease, top 500ms;
  z-index: -1;
}

.button:focus,
.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-border);
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-border);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
  pointer-events: none;
}

.button:hover::before {
  top: 0;
  left: 0;
}

.button__text {
  color: var(--color-white);
  mix-blend-mode: difference;
  transition: color 500ms ease;
  position: relative;
  z-index: 2;
}

/* Header */
.header {
  width: 100%;
  padding: 130px 0;
  margin-bottom: 98px;
  margin-top: 100px;

  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border: 2px solid var(--color-border);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__title {
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.header__sub-title {
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  line-height: 1;
  text-transform: uppercase;
}

/* Card */
.card {
  width: 100%;
  margin-bottom: 50px;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border: 2px solid var(--color-border);
}

.card-title {
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'wght' var(--font-weight-title);
  font-style: normal;
  mix-blend-mode: hard-light;
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0;
  vertical-align: middle;
  margin: 0.25rem 0.625rem;
  line-height: 22px;
}

.card-image {
  position: relative;  /* Теперь .card-logo будет позиционироваться относительно этого блока */
  display: inline-block; /* Или другой подходящий вариант (block/flex) */
  width: 100%;
  max-height: 696px;
  border-top: 2px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  aspect-ratio: 1 / 1;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Добавлено по рекомендации */
  display: block;
}

.card-logo {
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;

  opacity: 0.5;
  text-shadow:
    1px 0 0 var(--color-white),
    -1px 0 0 var(--color-white),
    0 1px 0 var(--color-white),
    0 -1px 0 var(--color-white);

  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
}

@supports (-webkit-text-stroke: 1px var(--color-white)) {
  .card-logo {
    -webkit-text-stroke: 1px var(--color-white);
    text-shadow: none;
  }
}

.card-description {
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text)
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  margin: 25px;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-small) var(--spacing);
  margin-right: 25px;
  margin-bottom: 25px;
}

/* Like Button */
.card__icon-button {
  width: 39px;
  height: 36px;
  fill: transparent;
  stroke: var(--color-text);
  stroke-width: 2px;
  transition: all 0.3s;
  margin-right: 6px;
  background: transparent;
  border: none;
  padding: 0;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.like-animation-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.like-icon {
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.6s steps(5);
}

/* Save Button */
.footer-btn {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}

.save-btn {
  height: 55px;
  padding: 17px 20px;
  border: 2px solid var(--color-border);

  display: flex;
  justify-content: center;
  align-items: center;
}

.save-btn:hover {
  background-color: #FFFFFF;
}

.save-icon {
  max-width: 21px;
  margin-right: 8px;
  mix-blend-mode: difference;
  transition: fill 500ms ease;
  fill: var(--color-white);
}


/* Всплывающее окно */
.modal {
  border: none;
  padding: 0;
  background: transparent;
  width: 353px;
}

/* Затемненный фон при открытом диалоге */
.modal::backdrop {
  background: var(--color-border);
  opacity: 0.75;
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 30px;
  width: 100%;
  border: 2px solid var(--color-border);
  box-shadow: var(--shadow);
}

.modal__description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal__title {
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  leading-trim: NONE;
  line-height: 1.5;
  letter-spacing: 0%;
  text-transform: uppercase;
  max-width: 14.625rem;

}

.dialog {
  width: 100%;
}

.modal__close {
  width: 100%;
  height: 38px;
  border: 2px solid var(--color-border);
  font-family: 'PressStart2P', sans-serif;
  font-size: 14px;
  cursor: pointer;
  margin-top: 30px;
  color: #000000;
}

.save-icon-modal {
  max-width: 39px;
  margin-right: 12px;
}

.icon-modal-box {
  display: flex;
  align-items: center;
}

@media (max-width: 699px) {
  .header {
    padding: 122px 0;
  }

  .save-btn {
    flex-direction: column;
  }

  .save-icon {
    max-width: 28px;
    margin-bottom: 8px;
    margin-right: 0;
  }

  .save-btn {
    height: 84px;
  }

  .modal {
    width: 341px;
  }

  .modal__content {
    padding: 30px 40px;
  }

  .modal__title {
    max-width: 200px;
  }
}
