/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Цвета */
  --color-primary: #F4F4FF;
  --color-secondary: #E4E4F9;
  --color-accent: #5353C6;
  --color-text: #1A1A2E;
  --color-border: #000000;
  --color-like: #FF5A79;
  --color-white: #FFFFFF;

  /* Другие переменные */
  --contour-color: #000000; /* Цвет контура */
  --animation-fill-color: #FF0000; /* Цвет заливки при анимации */

  /* Размеры */
  --max-width: 700px;
  --header-height: 60px;

  /* Тени */
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);

  --background-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
